@{
    Layout = "_Master.cshtml";

    ViewBag.HideControls = true;
}

<div class="grid-x grid-padding-x">
    <div class="cell">
        <h1>PatternLib</h1>

        <p>View the available patterns by using the navigation at the top of the screen.</p>
        <p>When viewing a pattern you can also view each pattern in different viewport sizes by using the controls at the top right of the page.</p>        
    </div>
</div>
