<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PatternLab</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <style>
		.dropdown-submenu {
			position:relative;
		}
		.dropdown-submenu>.dropdown-menu {
			top:0;
			left:100%;
			margin-top:-6px;
			margin-left:-1px;
			-webkit-border-radius:0 6px 6px 6px;
			-moz-border-radius:0 6px 6px 6px;
			border-radius:0 6px 6px 6px;
		}
		.dropdown-submenu:hover>.dropdown-menu {
			display:block;
		}
		.dropdown-submenu>a:after {
			display:block;
			content:" ";
			float:right;
			width:0;
			height:0;
			border-color:transparent;
			border-style:solid;
			border-width:5px 0 5px 5px;
			border-left-color:#cccccc;
			margin-top:5px;
			margin-right:-10px;
		}
		.dropdown-submenu:hover>a:after {
			border-left-color:#ffffff;
		}
		.dropdown-submenu.pull-left {
			float:none;
		}
		.dropdown-submenu.pull-left>.dropdown-menu {
			left:-100%;
			margin-left:10px;
			-webkit-border-radius:6px 0 6px 6px;
			-moz-border-radius:6px 0 6px 6px;
			border-radius:6px 0 6px 6px;
		}
		#sg-viewport {
			height: 100%;
			width: 100%;
			border: 0;
			padding: 0;
			margin: 0;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #fff;
		}
		.nobox {
			padding: 0; margin: 0;
		}
		html, body, .fullheight {height: 100%}
		.navbar {
			margin-bottom: 0;
		}
        #PatternName { text-transform: capitalize; }
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    @{ Html.RenderAction("PatternNav"); }
    <div class="container-fluid nobox fullheight">
        @RenderBody()
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function ShowPatternInfo(patternName, patternLinkPath) {
            $('#PatternNewWindowLink').attr("href", patternLinkPath);
            $('#PatternName').html(patternName);
            $('#PatternInfo').removeClass("hidden");
        }
    </script>
</body>
</html>
