
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PatternMaster</title>
    <link href="~/App_Plugins/Patternlib/Css/PatternlibScaffolding.css" rel="stylesheet">
</head>
<body>
   @RenderBody()
</body>
</html>
