@model Pattern
@using Endzone.Umbraco.PatternLib.Core.Models;
@{
    Layout = "_Master.cshtml";
}

<div class="viewer">
    <div class="grid-x grid-frame align-center">
        <div id="viewer-cell" class="cell viewer-cell viewer-cell--full">
            <iframe id="viewer-frame" class="viewer-frame" src="@Model.StaticUrl"></iframe>
        </div>
    </div>
</div>